.main{
    color: green;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: yellow;
    display: inline-block;
    margin
}
.wrapper{
    width: 100%;
    text-align: center; 
    background-color: red;
}
.main-img{
    width: 100%;
}